@model IEnumerable<SistemaContratos.Models.Contrato>
@{
    ViewData["Title"] = "Importação de Contratos";
}

<div class="text-center mt-5">
    <h1 class="display-4">Nova Importação</h1>
</div>

<div class="card mt-4 mx-auto" style="max-width: 500px;">
    <div class="card-body">
        <form asp-controller="Home" asp-action="Importar" method="post" enctype="multipart/form-data">
            
            <div class="mb-3">
                <label for="arquivoExcel" class="form-label">Selecione o arquivo com a carga de contratos. (Apenas arquivos .CSV)</label>
                <input class="form-control" type="file" id="arquivoContratos" name="arquivoContratos" accept=".csv" required>
            </div>

            <div class="d-grid gap-2">
                <button type="submit" class="btn btn-primary">Importar Dados</button>
            </div>

        </form>
    </div>
</div>

<div class="mt-5">
    <h3 class="mb-3">Contratos Importados</h3>
    @if (Model != null && Model.Any())
    {
        <div class="table-responsive">
            <table class="table table-striped table-hover border">
                <thead class="table-light">
                    <tr>
                        <th>Nome</th>
                        <th>CPF</th>
                        <th>Contrato</th>
                        <th>Produto</th>
                        <th>Vencimento</th>
                        <th>Valor</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var contrato in Model)
                    {
                        <tr>
                            <td>@contrato.NomeCliente</td>
                            <td>@contrato.CPF</td>
                            <td>@contrato.NumContrato</td>
                            <td>@contrato.Produto</td>
                            <td>@contrato.DataVencimento.ToShortDateString()</td>
                            <td>@contrato.Valor.ToString("C")</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }
    else
    {
        <div class="alert alert-info text-center" role="alert">
            Nenhum contrato importado ainda. Faça o upload do arquivo acima!
        </div>
    }
</div>